In [3]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
#import matplotlib
#import plotly as plt


#! pip install xlrd

In [4]:
! ls -la

total 5244
drwxrwxr-x 3 quark quark    4096 abr  4 21:08 .
drwxrwxr-x 6 quark quark    4096 abr  5 17:39 ..
-rw-rw-r-- 1 quark quark  208094 abr  4 19:29 1st iteration models.ipynb
-rw-rw-r-- 1 quark quark  631935 abr  2 16:56 data_frame_lab.ipynb
-rw-rw-r-- 1 quark quark 3262479 abr  4 21:08 Exploratory_analysis.ipynb
drwxrwxr-x 2 quark quark    4096 abr  2 19:50 .ipynb_checkpoints
-rw-rw-r-- 1 quark quark 1172074 abr  4 20:45 MVP.ipynb
-rw-rw-r-- 1 quark quark   69921 mar 26 17:54 Preliminar_exploration.ipynb

In [6]:
original_df = pd.read_excel('./../Databases/datos.xlsx')

In [4]:
original_df.columns

Index(['Id', 'CustomerId', 'SiteId', 'Timestamp', 'Year', 'Month', 'Day',
       'Hour', 'Minute', 'TotalEntries', 'TotalOuts', 'TotalAccesses',
       'TotalFraudEntries', 'TotalFraudOuts', 'TotalFraud', 'TotalEntriesMen',
       'TotalEntriesWoman', 'TotalEntriesAverageAge', 'MenEntriesAverageAge',
       'WomenEntriesAverageAge', 'TotalEntriesGroupAge_0_14',
       'TotalEntriesGroupAge_15_19', 'TotalEntriesGroupAge_20_24',
       'TotalEntriesGroupAge_25_29', 'TotalEntriesGroupAge_30_34',
       'TotalEntriesGroupAge_35_39', 'TotalEntriesGroupAge_40_44',
       'TotalEntriesGroupAge_45_49', 'TotalEntriesGroupAge_50_54',
       'TotalEntriesGroupAge_55_59', 'TotalEntriesGroupAge_60_99',
       'MenEntriesGroupAge_0_14', 'MenEntriesGroupAge_15_19',
       'MenEntriesGroupAge_20_24', 'MenEntriesGroupAge_25_29',
       'MenEntriesGroupAge_30_34', 'MenEntriesGroupAge_35_39',
       'MenEntriesGroupAge_40_44', 'MenEntriesGroupAge_45_49',
       'MenEntriesGroupAge_50_54', 'MenEntriesGroupAge_55_59',
       'MenEntriesGroupAge_60_99', 'WomenEntriesGroupAge_0_14',
       'WomenEntriesGroupAge_15_19', 'WomenEntriesGroupAge_20_24',
       'WomenEntriesGroupAge_25_29', 'WomenEntriesGroupAge_30_34',
       'WomenEntriesGroupAge_35_39', 'WomenEntriesGroupAge_40_44',
       'WomenEntriesGroupAge_45_49', 'WomenEntriesGroupAge_50_54',
       'WomenEntriesGroupAge_55_59', 'WomenEntriesGroupAge_60_99',
       'GeneratedByDaysPopulator'],
      dtype='object')

In [9]:
original_df.head(10)

,Id,CustomerId,SiteId,Timestamp,Year,Month,Day,Hour,Minute,TotalEntries,...,WomenEntriesGroupAge_20_24,WomenEntriesGroupAge_25_29,WomenEntriesGroupAge_30_34,WomenEntriesGroupAge_35_39,WomenEntriesGroupAge_40_44,WomenEntriesGroupAge_45_49,WomenEntriesGroupAge_50_54,WomenEntriesGroupAge_55_59,WomenEntriesGroupAge_60_99,GeneratedByDaysPopulator
0,35320,11,1,1543276800,2018,11,27,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,35517,11,1,1543278600,2018,11,27,0,30,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,35201,11,1,1543280400,2018,11,27,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,34526,11,1,1543282200,2018,11,27,1,30,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,34878,11,1,1543284000,2018,11,27,2,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
5,34356,11,1,1543285800,2018,11,27,2,30,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
6,35361,11,1,1543287600,2018,11,27,3,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
7,35712,11,1,1543289400,2018,11,27,3,30,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
8,35243,11,1,1543291200,2018,11,27,4,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9,34568,11,1,1543293000,2018,11,27,4,30,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [10]:
print(datetime.utcfromtimestamp(original_df['Timestamp'].min()).strftime('%Y-%m-%d %H:%M:%S')), print(datetime.utcfromtimestamp(original_df['Timestamp'].max()).strftime('%Y-%m-%d %H:%M:%S'))

2017-01-04 00:00:00
2019-02-24 23:30:00

(None, None)

In [12]:
A = original_df.sort_values(by=['Timestamp'])

In [ ]:
for i in range(len(original_df['Timestamp'])):

In [9]:
print(datetime.utcfromtimestamp(original_df['Timestamp']).strftime('%Y-%m-%d %H:%M:%S'))

TypeError: cannot convert the series to <class 'int'>

In [7]:
plt.plot(datetime.utcfromtimestamp(original_df['Timestamp']).strftime('%Y-%m-%d %H:%M:%S'), original_df['TotalEntries'])

TypeError: cannot convert the series to <class 'int'>

In [15]:
! ls -l

total 12324
-rw-rw-r-- 1 quark quark  1139164 feb 22 17:02 article_transport_analytics.pdf
drwxrwxr-x 2 quark quark     4096 mar  9 19:11 Databases
-rw-rw-r-- 1 quark quark 11436363 feb 25 18:16 datos.xlsx
drwxrwxr-x 2 quark quark     4096 mar  9 19:07 Documentation
-rw-rw-r-- 1 quark quark    19107 mar  9 19:10 Exploratory analysis.ipynb

In [16]:
rpc_df = pd.read_csv('./Databases/2017_distribucio_territorial_renda_familiar.csv')

In [17]:
rpc_df.columns

Index(['Any', 'Codi_Districte', 'Nom_Districte', 'Codi_Barri', 'Nom_Barri',
       'Població', 'Índex RFD Barcelona = 100'],
      dtype='object')

In [18]:
rpc_df

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Població,Índex RFD Barcelona = 100
0,2017,1,Ciutat Vella,1,el Raval,47986,71.2
1,2017,1,Ciutat Vella,2,el Barri Gòtic,16240,106.1
2,2017,1,Ciutat Vella,3,la Barceloneta,15101,79.6
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22923,99.4
4,2017,2,Eixample,5,el Fort Pienc,32048,106.5
5,2017,2,Eixample,6,la Sagrada Família,51651,101.8
6,2017,2,Eixample,7,la Dreta de l'Eixample,44246,175.9
7,2017,2,Eixample,8,l'Antiga Esquerra de l'Eixample,42512,137.2
8,2017,2,Eixample,9,la Nova Esquerra de l'Eixample,58315,110.2
9,2017,2,Eixample,10,Sant Antoni,38412,104.2
10,2017,3,Sants-Montjuïc,11,el Poble Sec,40358,82.2
11,2017,3,Sants-Montjuïc,12,la Marina del Prat Vermell,1151,40.0
12,2017,3,Sants-Montjuïc,13,la Marina de Port,30622,69.3
13,2017,3,Sants-Montjuïc,14,la Font de la Guatlla,10422,82.9
14,2017,3,Sants-Montjuïc,15,Hostafrancs,15949,99.0
15,2017,3,Sants-Montjuïc,16,la Bordeta,18561,79.0
16,2017,3,Sants-Montjuïc,17,Sants - Badal,24047,81.0
17,2017,3,Sants-Montjuïc,18,Sants,41244,99.0
18,2017,4,Les Corts,19,les Corts,46104,120.0
19,2017,4,Les Corts,20,la Maternitat i Sant Ramon,23980,114.2
20,2017,4,Les Corts,21,Pedralbes,12117,248.8
21,2017,5,Sarrià-Sant Gervasi,22,"Vallvidrera, el Tibidabo i les Planes",4689,144.1
22,2017,5,Sarrià-Sant Gervasi,23,Sarrià,25106,193.6
23,2017,5,Sarrià-Sant Gervasi,24,les Tres Torres,16660,215.8
24,2017,5,Sarrià-Sant Gervasi,25,Sant Gervasi - la Bonanova,25909,184.6
25,2017,5,Sarrià-Sant Gervasi,26,Sant Gervasi - Galvany,47753,192.1
26,2017,5,Sarrià-Sant Gervasi,27,el Putxet i el Farró,29617,144.6
27,2017,6,Gràcia,28,Vallcarca i els Penitents,15615,112.5
28,2017,6,Gràcia,29,el Coll,7428,87.0
29,2017,6,Gràcia,30,la Salut,13207,109.9
...,...,...,...,...,...,...,...
43,2017,8,Nou Barris,44,Vilapicina i la Torre Llobeta,25618,63.8
44,2017,8,Nou Barris,45,Porta,25046,64.4
45,2017,8,Nou Barris,46,el Turó de la Peira,15506,51.9
46,2017,8,Nou Barris,47,Can Peguera,2233,51.5
47,2017,8,Nou Barris,48,la Guineueta,15247,53.8
48,2017,8,Nou Barris,49,Canyelles,6863,52.2
49,2017,8,Nou Barris,50,les Roquetes,15648,49.7
50,2017,8,Nou Barris,51,Verdun,12368,51.3
51,2017,8,Nou Barris,52,la Prosperitat,26398,56.0
52,2017,8,Nou Barris,53,la Trinitat Nova,7271,48.2
53,2017,8,Nou Barris,54,Torre Baró,2859,46.5
54,2017,8,Nou Barris,55,Ciutat Meridiana,10369,38.6
55,2017,8,Nou Barris,56,Vallbona,1379,40.9
56,2017,9,Sant Andreu,57,la Trinitat Vella,10006,47.1
57,2017,9,Sant Andreu,58,Baró de Viver,2539,68.9
58,2017,9,Sant Andreu,59,el Bon Pastor,12582,65.1
59,2017,9,Sant Andreu,60,Sant Andreu,57223,77.7
60,2017,9,Sant Andreu,61,la Sagrera,29031,77.1
61,2017,9,Sant Andreu,62,el Congrés i els Indians,14141,75.1
62,2017,9,Sant Andreu,63,Navas,22171,81.6
63,2017,10,Sant Martí,64,el Camp de l'Arpa del Clot,38371,81.7
64,2017,10,Sant Martí,65,el Clot,27089,83.6
65,2017,10,Sant Martí,66,el Parc i la Llacuna del Poblenou,15204,100.4
66,2017,10,Sant Martí,67,la Vila Olímpica del Poblenou,9404,164.2
67,2017,10,Sant Martí,68,el Poblenou,33931,99.9
68,2017,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,13710,150.1
69,2017,10,Sant Martí,70,el Besòs i el Maresme,22893,60.4
70,2017,10,Sant Martí,71,Provençals del Poblenou,20649,102.3
71,2017,10,Sant Martí,72,Sant Martí de Provençals,26187,67.4
72,2017,10,Sant Martí,73,la Verneda i la Pau,28725,57.0

In [19]:
airq_df = pd.read_csv('./Databases/OpenData/weather/2019_01_Gener_qualitat_aire_BCN.csv')

In [20]:
airq_df.head(10)

,nom_cabina,qualitat_aire,codi_dtes,zqa,codi_eoi,longitud,latitud,hora_o3,qualitat_o3,valor_o3,hora_no2,qualitat_no2,valor_no2,hora_pm10,qualitat_pm10,valor_pm10,generat,dateTime
0,Barcelona - Sants,Bona,ID,1,8019042,2.1331,41.3788,NaN,NaN,NaN,23h,Bona,86 µg/m³,NaN,NaN,NaN,01/01/2019 0:00,1546297502
1,Barcelona - Eixample,Regular,IH,1,8019043,2.1538,41.3853,23h,Bona,3 µg/m³,23h,Regular,112 µg/m³,23h,Bona,36 µg/m³,01/01/2019 0:00,1546297502
2,Barcelona - Gràcia,Regular,IJ,1,8019044,2.1534,41.3987,23h,Bona,3 µg/m³,23h,Regular,113 µg/m³,23h,Regular,39 µg/m³,01/01/2019 0:00,1546297502
3,Barcelona - Ciutadella,Bona,IL,1,8019050,2.1874,41.3864,23h,Bona,2 µg/m³,23h,Bona,74 µg/m³,NaN,NaN,NaN,01/01/2019 0:00,1546297502
4,Barcelona - Vall Hebron,Bona,IN,1,8019054,2.1480,41.4261,23h,Bona,10 µg/m³,23h,Bona,67 µg/m³,23h,Bona,12 µg/m³,01/01/2019 0:00,1546297502
5,Barcelona - Palau Reial,Bona,IZ,1,8019057,2.1151,41.3875,0h,Bona,1 µg/m³,0h,Bona,65 µg/m³,0h,Bona,15 µg/m³,01/01/2019 0:00,1546297502
6,Barcelona - Poblenou,Bona,I2,1,8019004,2.2045,41.4039,NaN,NaN,NaN,0h,Bona,62 µg/m³,0h,Bona,34 µg/m³,01/01/2019 0:00,1546297502
7,Barcelona - Observ Fabra,Bona,OF,1,8019058,2.1239,41.4183,0h,Bona,86 µg/m³,0h,Bona,3 µg/m³,0h,Bona,7 µg/m³,01/01/2019 0:00,1546297502
8,Barcelona - Sants,Regular,ID,1,8019042,2.1331,41.3788,NaN,NaN,NaN,0h,Regular,95 µg/m³,NaN,NaN,NaN,01/01/2019 1:00,1546301102
9,Barcelona - Eixample,Regular,IH,1,8019043,2.1538,41.3853,0h,Bona,4 µg/m³,0h,Regular,127 µg/m³,1h,Bona,36 µg/m³,01/01/2019 1:00,1546301102

In [30]:
bcn_meteocat_df = pd.read_csv('./../Databases/Meteocat/rarribas.01/X4Barcelona.csv', sep=';')
bcn_meteocat_df.head()

  EMA                 DATA     T    TX    TN  PPT
0  X4  01.01.2017 00:00:00  10.4  10.5  10.4  0.0
1  X4  01.01.2017 00:30:00  10.3  10.4  10.2  0.0
2  X4  01.01.2017 01:00:00  10.1  10.2   9.9  0.0
3  X4  01.01.2017 01:30:00  10.0  10.2   9.9  0.0
4  X4  01.01.2017 02:00:00  10.0  10.1   9.8  0.0

In [13]:
bcn_meteocat_df.columns

Index(['EMA', 'DATA', 'T', 'TX', 'TN', 'PPT'], dtype='object')

In [15]:
bcn_meteocat_df['EMA'].unique()

array(['X4'], dtype=object)

In [21]:
bcn_meteocat_df.dtypes

EMA      object
DATA     object
T       float64
TX      float64
TN      float64
PPT     float64
dtype: object

In [44]:
bcn_meteocat_df['DATA'] = pd.to_datetime(bcn_meteocat_df['DATA']).apply(lambda x: datetime.strftime(x, '%Y-%m-%d %H:%M:%S'))
bcn_meteocat_df['DATA'] = pd.to_datetime(bcn_meteocat_df['DATA'])

In [45]:
bcn_meteocat_df.dtypes

EMA             object
DATA    datetime64[ns]
T              float64
TX             float64
TN             float64
PPT            float64
dtype: object

In [36]:
original_df.sort_values(['Timestamp'], ascending=True, inplace=True)
original_df['Timestamp'] = pd.to_datetime(original_df['Timestamp'], unit='s')
original_df['Timestamp'][:10]
original_df = original_df[['Timestamp', 'TotalEntries']]

In [32]:
bcn_meteocat_df['DATA'][:10]

0    2017-01-01 00:00:00
1    2017-01-01 00:30:00
2    2017-01-01 01:00:00
3    2017-01-01 01:30:00
4    2017-01-01 02:00:00
5    2017-01-01 02:30:00
6    2017-01-01 03:00:00
7    2017-01-01 03:30:00
8    2017-01-01 04:00:00
9    2017-01-01 04:30:00
Name: DATA, dtype: object

In [46]:
merged_df = original_df.merge(bcn_meteocat_df, how='inner', left_on='Timestamp', right_on='DATA')
merged_df.head()

,Timestamp,TotalEntries,EMA,DATA,T,TX,TN,PPT
0,2017-01-04 00:00:00,0,X4,2017-01-04 00:00:00,14.4,14.7,14.3,0.0
1,2017-01-04 00:30:00,0,X4,2017-01-04 00:30:00,14.5,14.6,14.3,0.0
2,2017-01-04 01:00:00,0,X4,2017-01-04 01:00:00,14.1,14.4,14.0,0.0
3,2017-01-04 01:30:00,0,X4,2017-01-04 01:30:00,14.0,14.2,13.9,0.0
4,2017-01-04 02:00:00,0,X4,2017-01-04 02:00:00,14.3,14.4,14.1,0.0