In this notebook a new timestamp column is created for the external data dataframes to convert time to UTC.

In [49]:
import numpy as np
import pandas as pd
import datetime

In [50]:
bcn_meteo_df = pd.read_csv('./../../../Databases/Meteocat/X4Barcelona.csv', sep=';')
can_meteo_df = pd.read_csv('./../../../Databases/Meteocat/XUCanyelles.csv', sep=';')

In [51]:
bcn_meteo_df['DATA'] = pd.to_datetime(bcn_meteo_df['DATA'], dayfirst=True)
can_meteo_df['DATA'] = pd.to_datetime(can_meteo_df['DATA'], dayfirst=True)
bcn_meteo_df.dtypes, can_meteo_df.dtypes

(EMA             object
 DATA    datetime64[ns]
 T              float64
 TX             float64
 TN             float64
 PPT            float64
 dtype: object, EMA             object
 DATA    datetime64[ns]
 T              float64
 TX             float64
 TN             float64
 PPT            float64
 dtype: object)

In [52]:
bcn_meteo_df.head()

  EMA                DATA     T    TX    TN  PPT
0  X4 2017-01-01 00:00:00  10.4  10.5  10.4  0.0
1  X4 2017-01-01 00:30:00  10.3  10.4  10.2  0.0
2  X4 2017-01-01 01:00:00  10.1  10.2   9.9  0.0
3  X4 2017-01-01 01:30:00  10.0  10.2   9.9  0.0
4  X4 2017-01-01 02:00:00  10.0  10.1   9.8  0.0

In [53]:
bcn_meteo_df.shape

(37920, 6)

In [54]:
Timestamp = pd.date_range(start='2017-01-01 00:00:00', freq='30T',
                periods=bcn_meteo_df.shape[0], tz='Europe/Madrid')

In [55]:
Timestamp[:10]

DatetimeIndex(['2017-01-01 00:00:00+01:00', '2017-01-01 00:30:00+01:00',
               '2017-01-01 01:00:00+01:00', '2017-01-01 01:30:00+01:00',
               '2017-01-01 02:00:00+01:00', '2017-01-01 02:30:00+01:00',
               '2017-01-01 03:00:00+01:00', '2017-01-01 03:30:00+01:00',
               '2017-01-01 04:00:00+01:00', '2017-01-01 04:30:00+01:00'],
              dtype='datetime64[ns, Europe/Madrid]', freq='30T')

In [63]:
Timestamp.tz_convert('UTC')
bcn_meteo_df['Timestamp'] = Timestamp.tz_convert(None)
can_meteo_df['Timestamp'] = Timestamp.tz_convert(None)

In [61]:
bcn_meteo_df.head()

  EMA                DATA     T    TX    TN  PPT           Timestamp
0  X4 2017-01-01 00:00:00  10.4  10.5  10.4  0.0 2016-12-31 23:00:00
1  X4 2017-01-01 00:30:00  10.3  10.4  10.2  0.0 2016-12-31 23:30:00
2  X4 2017-01-01 01:00:00  10.1  10.2   9.9  0.0 2017-01-01 00:00:00
3  X4 2017-01-01 01:30:00  10.0  10.2   9.9  0.0 2017-01-01 00:30:00
4  X4 2017-01-01 02:00:00  10.0  10.1   9.8  0.0 2017-01-01 01:00:00

In [64]:
can_meteo_df.head()

  EMA                DATA    T   TX   TN  PPT           Timestamp
0  XU 2017-01-01 00:00:00  2.5  2.6  2.4  0.0 2016-12-31 23:00:00
1  XU 2017-01-01 00:30:00  2.2  2.6  2.0  0.0 2016-12-31 23:30:00
2  XU 2017-01-01 01:00:00  1.9  2.0  1.8  0.0 2017-01-01 00:00:00
3  XU 2017-01-01 01:30:00  1.6  1.8  1.4  0.0 2017-01-01 00:30:00
4  XU 2017-01-01 02:00:00  1.4  1.5  1.3  0.0 2017-01-01 01:00:00

In [66]:
bcn_meteo_df.to_csv('./../../../Databases/X4Barcelona_converted.csv', index=False)
can_meteo_df.to_csv('./../../../Databases/XUCanyelles_converted.csv', index=False)